.addhotelform
  = simple_form_for @hotel, :html => {:multipart => true} do |f|
    .Hoteltitleform
      = f.input :title,                         label: 'Hotel Title'
    = f.input :image,           as: :file,    label: 'Hotel Image'
    .roompriceform
      = f.input :price_of_room,                 label: 'Room Price'
    .stateform
      = f.input :state,                         label: 'State'
    .countryform
      = f.input :count_name,                    label: 'Country'
    .cityform
      = f.input :city,                          label: 'City'
    .streetform
      = f.input :street,                        label: 'Street'
    = f.input :breakfast,       as: :boolean, label: 'Include breakfast'
    .hdesform
      = f.input :room_description,              label: 'Hotel Description'
    = f.button :submit
