%link{ :rel => 'stylesheet', :href => 'http://yui.yahooapis.com/pure/0.6.0/pure-min.css'}

%h1#caption #{@hotel.title}
= image_tag @hotel.image_url.to_s, width: '350'



- if @hotel.breakfast
  %h3 Room breakfast include: yes
- else
  %h3 Room breakfast include: no

%h3 Room description:  #{@hotel.room_description}
%h3 Price of room: #{@hotel.price_of_room.to_s} $
%h3.avg-rating Average Rating:
.average-review-rating{'data-score' => @average_review}
= render @hotel.reviews
%p= link_to 'Add review', new_hotel_review_path(@hotel)
%p= link_to 'Back', root_path



:javascript
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
:javascript
  $('.average-review-rating').raty({
  	readOnly: true,
  	path: '/assets/',
  	score: function() {
  		return $(this).attr('data-score')
  	}
  });
