!!!
%html
  %head
    %title TestHotel
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
  %p.alert.alert-info
    = notice
  %p.alert.alert-morning
    = alert

    = yield
    -#= render 'layouts/footer'